html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    background-color: #fdfdfd;
    color: #2c3c4c;
    font-family: Lato, Verdana, Helvetica, sans-serif;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: normal;
}

h1,
h2 {
    color: #234;
}

h1 {
    margin-bottom: 32px;
    font-size: 2.6em;
}

h2 {
    margin-top: 48px;
}

h3,
h4,
h5 {
    color: #345;
}

a {
    color: #2471a3;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f09228;
}

p {
    line-height: 1.5em;
}

.header {
    width: 100%;
    padding: 16px 0 32px;
    background: linear-gradient(to bottom, #f5f5f8 10%, #f1f1f5 90%);
}

.header h1 {
    margin-bottom: 16px;
}

.header-profile-picture,
.header-text {
    display: inline-block;
    vertical-align: middle;
}

.header-profile-picture {
    width: 224px;
    height: 224px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    box-sizing: border-box;
    max-width: 780px;
    margin: 16px auto 0;
    padding: 0 16px;
}

.page-content {
    padding-bottom: 64px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.row {
    box-sizing: border-box;
}

.publication {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
    padding-left: 8px;
}

.row-media {
    flex: 0 0 250px;
    height: 140px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.row-text {
    max-width: 500px;
    line-height: 1.5em;
}

.row-text span {
    line-height: inherit;
}

.publication.highlight {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 4px;
    background-color: #fff8df;
}

.footer {
    width: 100%;
    background-color: #345;
}

.footer-content {
    max-width: 780px;
    margin: auto;
    padding: 6px 16px;
    color: #fff;
    font-size: 10px;
}

.footer-content a {
    color: #fff;
    text-decoration: underline;
}

.footer-content a:hover {
    color: #f09228;
}

@media only screen and (max-width: 1150px) {
    body {
        font-size: 18px;
    }

    .header-profile-picture,
    .header-text {
        display: block;
        margin: auto;
        text-align: center;
    }

    .header-profile-picture {
        width: 176px;
        height: 176px;
        margin-bottom: 12px;
    }

    a.btn {
        font-size: 14px;
        padding: 2px 6px;
    }
}

@media only screen and (max-width: 1000px) {
    .publication {
        display: block;
        margin-bottom: 46px;
    }

    .publication .row-media {
        width: 260px;
        height: 130px;
        margin: 0 auto 12px;
    }

    .publication .row-text {
        width: 100%;
        max-width: none;
    }
}
